
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center pt-lg-4 text-center" style="margin-bottom: 200px; margin-top: 100px;">
    <div class="col-lg-5 col-md-7 col-sm-9">
        <h1 class="display-404 py-lg-3">Payment Completed</h1>
        <h2 class="h3 mb-4">Your order has been successfully placed. Order Id #{{order.oid}}</h2>
        <p class="fs-md mb-4">
        <a href="#">Contact us</a> if you have any issue or question
        </p>
    </div>
</div>

{% endblock content %}
