{% extends 'useradmin/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}  

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Change Password</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <section class="content-body p-xl-4">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-12 mb-3">
                                            <label class="form-label">Old Password</label>
                                            <input class="form-control" name="old_password" value="" type="text" placeholder="***********" />
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="form-label">New Password</label>
                                            <input class="form-control" name="new_password" value="" type="text" placeholder="***********" />
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                            <label class="form-label">Confirm Password</label>
                                            <input class="form-control" name="confirm_new_password" value="" type="text" placeholder="***********" />
                                        </div>
                                         
                                    </div>
                                </div>
                                <aside class="col-lg-4">
                                    <figure class="text-lg-center">
                                        
                                        {% if request.user.profile.image %}
                                            <img class="img-lg mb-3 img-avatar" src="{{request.user.profile.image.url}}" alt="User Photo" />
                                        {% else %}
                                            <img class="img-lg mb-3 img-avatar" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg" alt="User Photo" />
                                        {% endif %}
                                    </figure>
                                </aside>
                            </div>
                            <br />
                            <button class="btn btn-primary" type="submit">Save New Password <i class="fas fa-check-circle mt-1 ms-2"></i></button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}  
